@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR',
    sans-serif;
  font-size: 1.6rem;
  background-color: #f2edf3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrap {
  display: flex;
  padding-top: 7rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  height: 4rem;
  padding: 0 1rem;
  border: 1px solid #ebedf2;
  border-radius: 5px;
}

textarea {
  padding: 1rem;
  height: auto;
  resize: none;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
textarea::placeholder {
  color: #ddd;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

button.primary {
  display: inline-block;
  text-align: center;
  min-width: 15rem;
  height: 4rem;
  line-height: 4rem;
  color: white;
  background-color: #7E57C2;
  border-radius: 5px;
}